* {
    box-sizing: border-box;
}

html {
    --color-cashew: #FAF1E5;
    --color-orange: #ff640a; 
    --color-kale: #003D29;
    --color-lime: #0aad0a; 

    --background-color: #27292b;
    --foreground-color: var(--color-kale);
}

body {
    background-color: var(--background-color);
    color: #fff;
    font-family: Poppins;
    margin: 0;
    margin-top: 45px;
    margin-bottom: 45px;
}

img {
    margin: 0 auto;
}

.logo {
    object-fit: scale-down;
    display: flex;
    float: center;
    height: 100px;
}

h2 {
    text-align: center;
    color: #fff;
}

.link {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--color-orange);
    text-decoration: underline;
}

.card {
    border: 3px solid var(--color-orange);
    /* margin: 10px; */
    padding: 30px;
    border-radius: 20px;


    h3 {
        color: var(--color-carrot);
        margin-top: 0;
    }
}

.card:hover {
    box-shadow: 0 4px 8px 0 var(--color-orange), 0 6px 20px 0 var(--color-orange);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-gap: 20px;
    padding: 20px;
}



@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
    }

    /* .image {
        video {
            width: 90vw;
        }
    } */
}